<section>

    <h2>{{story.title}}</h2>

    <h4>{{story.publishDate | date:'yyyy.M.d'}}</h4>

    <div ng-bind-html="story.preamble"></div>
    <div ng-bind-html="story.complete"></div>

    <p>Mr. Ghostmonk</p>

    <a href="/">..BACK</a>

</section>