<section>

    <a href="/story/{{story.slug}}">
        <h2>{{story.title}}</h2>
    </a>

    <h4>{{story.publishDate | date:'yyyy.M.d'}}</h4>

    <div ng-bind-html="story.preamble"></div>

    <a href="/story/{{story.slug}}">...MORE</a>

    <hr/>

</section>