@color_greenBlue:#00bbbb;
@color_lightGrey:#52575c;
@color_dark:#252519;
@color_light:#c1c1c1;

body {
    background-color: @color_dark;
    color: @color_light;
    font-family: 'Arvo';
}

header {
    text-align: center;
}

.hoverwell:hover {
  background-color: @color_lightGrey;
  cursor: pointer;
}

select, textarea {
  color: @color_lightGrey;
}

.well-title {
  margin-top: 0px;
}

.session {
    -webkit-touch-callout: none;
    user-select: none;
}

.votingWidget {
  height: 64px;
  padding: 7px;
}

.votingButton {
  padding-left:6px;
  cursor:pointer;
}

.special { color:@color_greenBlue !important; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}
